node red.json
[{"id":"b13757f3.010398","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d1885893.19ae78","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9b778503.8714b8","type":"ui_group","z":"","name":"prediction","tab":"bf136726.552258","order":2,"disp":true,"width":"6","collapse":false},{"id":"78d03b17.6e81d4","type":"ui_group","z":"","name":"Group 1","tab":"bf136726.552258","order":1,"disp":true,"width":"6","collapse":false},{"id":"3eca7ebc.1d74e2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6796552a.cd60ac","type":"ui_group","z":"","name":"Default","tab":"3eca7ebc.1d74e2","order":1,"disp":true,"width":"6","collapse":false},{"id":"12d1b606.3ef5fa","type":"ui_group","z":"","name":"Prediction","tab":"bf136726.552258","order":null,"disp":true,"width":"6","collapse":false},{"id":"bf136726.552258","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"66ad9fbf.78235","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7138e5d7.85629c","type":"ui_group","z":"","name":"Default","tab":"66ad9fbf.78235","order":1,"disp":true,"width":"6","collapse":false},{"id":"502769fe.9e4e08","type":"ui_form","z":"b13757f3.010398","name":"","label":"","group":"7138e5d7.85629c","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Life expectancy","value":"d","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"f","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"g","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"h","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"i","type":"number","required":true,"rows":null},{"label":"Measles","value":"j","type":"number","required":true,"rows":null},{"label":"BMI","value":"k","type":"number","required":true,"rows":null},{"label":"under-five deaths ","value":"l","type":"number","required":true,"rows":null},{"label":"Polio","value":"m","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"n","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"o","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"p","type":"number","required":true,"rows":null},{"label":"GDP","value":"q","type":"number","required":true,"rows":null},{"label":"Population","value":"r","type":"number","required":true,"rows":null},{"label":" thinness  1-19 years","value":"s","type":"number","required":true,"rows":null},{"label":" thinness  5-9 years","value":"t","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"u","type":"number","required":true,"rows":null},{"label":"Schooling","value":"v","type":"number","required":true,"rows":null}],"formValue":{"b":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":"","v":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":340,"wires":[["1005219e.8f226e"]]},{"id":"1005219e.8f226e","type":"function","z":"b13757f3.010398","name":"pre token","func":"\nglobal.set(\"b\",msg.payload.b);\n\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"v\",msg.payload.v);\n\nvar apikey=\"d8Gf7ziLhFpgHbGPqU4IY-kkT1Eu8GY3kh38tqXcwJDt\";\nmsg.headers={\"content_type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":240,"wires":[["1a8f9df1.a2d5d2"]]},{"id":"1a8f9df1.a2d5d2","type":"http request","z":"b13757f3.010398","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":340,"y":140,"wires":[["31a530d7.92b2d"]]},{"id":"31a530d7.92b2d","type":"function","z":"b13757f3.010398","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"5554a7a1-7dd2-4997-9b63-b0a9f8f7f36e\";\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id}\n\n\n\nvar b= global.get(\"b\");\nvar d= global.get(\"d\");\nvar e= global.get(\"e\");\nvar f= global.get(\"f\");\nvar g= global.get(\"g\");\nvar h= global.get(\"h\");\nvar i= global.get(\"i\");\nvar j= global.get(\"j\");\nvar k= global.get(\"k\");\nvar l= global.get(\"l\");\nvar m= global.get(\"m\");\nvar n= global.get(\"n\");\nvar o= global.get(\"o\");\nvar p= global.get(\"p\");\nvar q= global.get(\"q\");\nvar r= global.get(\"r\");\nvar s= global.get(\"s\");\nvar t= global.get(\"t\");\nvar u= global.get(\"u\");\nvar v= global.get(\"v\");\n\nmsg.payload=\n{\"fields\":[\"Year\",\"Life expectancy\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\" Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\" thinness  1-19 years\",\n\"thinness  5-9 years\",\"Income composition of resources\",\"Schooling\"],\n\"values\":[[b,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["cdf19ff5.4fb76"]]},{"id":"cdf19ff5.4fb76","type":"http request","z":"b13757f3.010398","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/5554a7a1-7dd2-4997-9b63-b0a9f8f7f36e/deployments/a050a8a7-eca5-4862-a2f7-7211ee3ec473/online","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":180,"wires":[["b89ac89.232d438","7d57148e.3de72c","4f25b058.72371"]]},{"id":"b89ac89.232d438","type":"function","z":"b13757f3.010398","name":"","func":"msg.payload=msg.payload.values[0][0]\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":80,"wires":[["199238df.7fe517","4f25b058.72371"]]},{"id":"7d57148e.3de72c","type":"debug","z":"b13757f3.010398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":340,"wires":[]},{"id":"199238df.7fe517","type":"debug","z":"b13757f3.010398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":20,"wires":[]},{"id":"4f25b058.72371","type":"ui_text","z":"b13757f3.010398","group":"7138e5d7.85629c","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":180,"wires":[]}]