Node Red flow.json
[{"id":"54341d4b.4ae574","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"320912c3.4a737e","type":"ui_form","z":"54341d4b.4ae574","name":"","label":"","group":"9c1cca0b.3e0758","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"u","type":"text","required":false,"rows":null},{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Status           (0->Developing, 1->Developed)","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"f","type":"text","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"text","required":true,"rows":null},{"label":"Measles","value":"h","type":"text","required":true,"rows":null},{"label":"BMI","value":"i","type":"text","required":true,"rows":null},{"label":"Under-Five Deaths","value":"j","type":"text","required":true,"rows":null},{"label":"Polio","value":"k","type":"text","required":true,"rows":null},{"label":"Total Expenditure","value":"l","type":"text","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"text","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"text","required":true,"rows":null},{"label":"GDP","value":"o","type":"text","required":true,"rows":null},{"label":"Population","value":"p","type":"text","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"q","type":"text","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"r","type":"text","required":true,"rows":null},{"label":"Income Composition of Resources","value":"s","type":"text","required":true,"rows":null},{"label":"Schooling","value":"t","type":"text","required":true,"rows":null}],"formValue":{"u":"","a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["37161595.3257aa"]]},{"id":"37161595.3257aa","type":"function","z":"54341d4b.4ae574","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"u\",msg.payload.u);\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"-_IPpjho748KEj4EtZIxQhqnSAaK8o--F0AU3XfVrP8k\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":220,"wires":[["b33a13.8cb135f"]]},{"id":"69a17ada.135c94","type":"http request","z":"54341d4b.4ae574","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/5554a7a1-7dd2-4997-9b63-b0a9f8f7f36e/deployments/0f7fc12c-a31c-4da6-a1d2-de26b894fb7e/online","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":300,"wires":[["87001821.4f37a8","dcc2dfe.86c9e2"]]},{"id":"9aa76588.85a398","type":"debug","z":"54341d4b.4ae574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":120,"wires":[]},{"id":"dcc2dfe.86c9e2","type":"function","z":"54341d4b.4ae574","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":200,"wires":[["9aa76588.85a398","99d70852.090ee8"]]},{"id":"87001821.4f37a8","type":"debug","z":"54341d4b.4ae574","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":400,"wires":[]},{"id":"b1b5183e.f1e378","type":"function","z":"54341d4b.4ae574","name":"","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"5554a7a1-7dd2-4997-9b63-b0a9f8f7f36e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar u = global.get(\"u\");\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\", \"Status\", \"Adult Mortality\",\n       \"Infant Deaths\", \"Alcohol\", \"Percentage Expenditure\", \"Hepatitis B\",\n       \"Measles\", \"BMI\", \"Under-Five Deaths\", \"Polio\", \"Total Expenditure\",\n       \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\",\n       \"Thinness  1-19 years\", \"Thinness 5-9 years\", \n       \"Income Composition of Resources\", \"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["69a17ada.135c94"]]},{"id":"b33a13.8cb135f","type":"http request","z":"54341d4b.4ae574","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":100,"wires":[["b1b5183e.f1e378"]]},{"id":"99d70852.090ee8","type":"ui_text","z":"54341d4b.4ae574","group":"9c1cca0b.3e0758","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"col-center","x":860,"y":280,"wires":[]},{"id":"9c1cca0b.3e0758","type":"ui_group","z":"","name":"Predicting Life Expectancy","tab":"cf2bcf2e.79c14","order":1,"disp":true,"width":"6","collapse":false},{"id":"cf2bcf2e.79c14","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]